*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100%;
  line-height: 1;
  background: hsl(0, 0%, 98%);
  color: hsl(234, 12%, 34%);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

/* Helper Methods */
.container {
  margin: 0 auto;
  max-width: 90%;
  padding: 2rem 1rem;
}

/* Flexbox Helper Methods */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.bold {
  font-weight: 800;
}
.uppercase {
  text-transform: uppercase;
}

/* Themes */
.light-bg {
  background: #fafafa;
}
.dark-bg {
  background: #202c37;
}

.navbar {
  padding: 1.8rem 8rem;
  background: white;
}
.navbar .nav-title {
  font-size: 1.4rem;
}